<div class="container">
  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of formFields">
      <div [ngSwitch]="field.type">
        <div class="form-group" *ngSwitchCase="'textarea'">
          <label class="form-group" for="">{{ field.label }} :</label>
          <textarea
            class="form-control"
            [formControlName]="field.name"
          ></textarea>
          <span
            class="help-block"
            *ngIf="
              !formData.get(field.name)?.valid &&
              formData.get(field.name)?.touched
            "
            >{{ field.errorMessage }}</span
          >
        </div>
        <div class="form-group" *ngSwitchCase="'dropdown'">
          <label class="form-group" for="">{{ field.label }} :</label>
          <select class="form-select" [formControlName]="field.name">
            <option *ngFor="let opVal of field.options" [value]="opVal">
              {{ opVal }}
            </option>
          </select>
          <span
            class="help-block"
            *ngIf="
              !formData.get(field.name)?.valid &&
              formData.get(field.name)?.touched
            "
            >{{ field.errorMessage }}</span
          >
        </div>
        <div class="form-group" *ngSwitchCase="'range'">
          <label class="form-group" for="">{{ field.label }} :</label>
          <input
            class="form-range"
            [type]="field.type"
            [id]="field.type"
            [formControlName]="field.name"
          />
          <span
            class="help-block"
            *ngIf="
              !formData.get(field.name)?.valid &&
              formData.get(field.name)?.touched
            "
            >{{ field.errorMessage }}</span
          >
        </div>
        <div class="form-group" *ngSwitchCase="'checkbox'">
          <label class="form-group" for="">{{ field.label }} :</label>
          <input
            class="form-check-input"
            type="checkbox"
            [formControlName]="field.name"
          />
          <span
            class="help-block"
            *ngIf="
              !formData.get(field.name)?.valid &&
              formData.get(field.name)?.touched
            "
            >{{ field.errorMessage }}</span
          >
        </div>
        <div class="form-group" *ngSwitchCase="'radio'">
          <label class="form-group" for="">{{ field.label }} :</label>
          <input
            class="form-radio-input"
            [type]="field.type"
            [id]="field.type"
            [formControlName]="field.name"
          />
          <span
            class="help-block"
            *ngIf="
              !formData.get(field.name)?.valid &&
              formData.get(field.name)?.touched
            "
            >{{ field.errorMessage }}</span
          >
        </div>
        <div class="form-group" *ngSwitchDefault>
          <label class="form-group" for="">{{ field.label }} :</label>
          <input
            class="form-control"
            [type]="field.type"
            [id]="field.type"
            [formControlName]="field.name"
          />
          <span
            class="help-block"
            *ngIf="
              !formData.get(field.name)?.valid &&
              formData.get(field.name)?.touched
            "
            >{{ field.errorMessage }}</span
          >
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
